<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="/static/css/stylesheet.css"/>
    <link rel="stylesheet" href = "http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    <script src="/static/bower_components/angular/angular.min.js"></script>
    <script src="/static/bower_components/angular-ga/ga.js"></script>

    <script src="/static/bower_components/angular-bootstrap/ui-bootstrap.js"></script>
    <script src="/static/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>

    <script src="/static/js/angular_todo.js"></script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-56199506-1', 'auto');
      ga('send', 'pageview');

    </script>
</head>

<body>
<div ng-app="talonApp" ng-controller="todoController">


    <h2>Add new todo</h2>
    <form name="checkListForm" ng-submit="submit_click(x)" novalidate>
        Text: <input type="text" ng-model="addText" required/><br/>

        Due date: <input type="text"
                         datepicker-popup='dd-MM-yyyy'
                         ng-model="addDueDate"
                         is-open="opened === true"
                         close-text="Close"
                         ng-click="open($event)" /> <br/>

        <select ng-model="addPriority">
            <option value="1">High</option>
            <option value="2" selected="true">Normal</option>
            <option value="3">Low</option>
        </select><br/>
        <input type="submit" id="submit" value="Submit" />
    </form>


    <br/><br/><br/>
    <h2>Todo list</h2>
    <input type="checkbox" ng-model="showCompleted" checked>Show completed<br>

    <table class="table">
        <tr>
            <th>Done</th>
            <th>Text</th>
            <th><a href="" ng-click="predicate='due_date'; reverse_sort=!reverse_sort">Due date</a></th>
            <th><a href="" ng-click="predicate='priority'; reverse_sort=!reverse_sort">Priority</a></th>
           <th>Delete</th>
        </tr>
        <tr ng-repeat="x in todos | filter:filter_todos | orderBy:predicate:reverse_sort" ng-class="rowClass(person)">
            <td><input type="checkbox" ng-checked="x.completed" ng-click="complete_click(x)"></td>
            <td ng-class="{done: x.completed}">{{ x.text }}</td>


            <td> <input type="text"
                    datepicker-popup='dd-MM-yyyy'
                           ng-model="x.due_date"
                           is-open="opened === x.id"
                           close-text="Close"
                           ng-click="open($event, x.id)"
                           show-button-bar="false"/></td>


            <td> {{ x.priority }} </td>
            <td class="btn btn-danger" ng-click="delete_click(x)"> <span class="glyphicon glyphicon-remove"></span></td>
        </tr>
    </table>

</div>
</body>
</html>